* {
  font-family: "pricedown"
}

@font-face {
    font-family: "pricedown";
    src: url("pricedown bl.otf") format('truetype');
}

body {
    background-image: url("gamebackimage.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    
}
/* boss */
#negativeplayer {
    
    width: 2.4%;
    height: 4%;
    transform: scaleX(-1);
    background-image: url(negativeplayer.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 35.3%;
    left: 70.1%;
    display: none;
    
  }

  @keyframes bossenter{
   from {
    left: 74.1%;
   }
    to {
          left: 70.1%;
    }
  }

  @keyframes bossmove {

    from {
        left: 70.3%;
    }
    to {
        left: 35.3% ;
    }
}
@keyframes bossjump {

    0% {
     left: 35.3%;
    }
    50% {
        transform: translateY(-210%);
        left: 29.3% ;
    }
    100% {
        left: 27.1% ;
    }

}
@keyframes bossland {

    0% {
        left: 27.1%;
    }
    100% {
        left: 24% ; 
    }
}
.bossenter {
    animation: bossenter 3s linear;
}
.bossmove {
    animation: bossmove 1s linear;
}

.bossjump {
    animation: bossjump 1s linear;
}

.bossland {
    animation:  bossland 1s linear;
}
  /* boss end */


#gun {
    position: absolute;
    background-image: url(Guns/gun.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vh;
    transform: scaleX(-1);
    top: 1vh;
    left: 0px;
}
#bullet {
    background-image: url(Guns/bullet.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.3vw;
    height: 2vh;
    position: absolute;
    top: 61.8vh;
    left: 62vh;
    display: none;
    backdrop-filter: blur(3px);
}
@keyframes shooting {
    to {left: 100vw;}
}

.bulletanimation {
    animation: shooting 1000ms linear;
}
#shoot {
    position: absolute;
    background-color: black;
    font-size: larger;
    top: 60vh;
    left: 21%;
    background-image: url(Guns/target.png);
    background-size: contain;
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    
    
}
#musicbutton {
    font-size: 3rem;
    position: absolute;
    top: 25vh;
    box-shadow: 1px 1px 50px 10px;
    transition:  background-color 1s , box-shadow 1s ;
    
}
#goku {
    background-image: url(blocks/load-wave.png);
    width: 5vw;
    height: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 33.3%;
    left: 70.1%;
    display: none;
    
    
}

.gokumoveanimation {
    animation: gokumove linear 11s ;
}

#goku-hit {
    background-image: url(blocks/shoot-wave.png);
    width: 14vh;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 28.3%;
    left: 68.1%;
    display: none;
    
}

#wave {

    background-image: linear-gradient(to left,  blue , rgb(39, 205, 255) ,rgb(36, 36, 233) );
    height: 5vh;
    border: 5px solid rgba(4, 121, 255, 0.966);
    width: 100vh;
    transform-origin: right;
    display: none;
    position: absolute;
    left: 20%;
    bottom: 36%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 200%;
    border-left-width: thin;
    
}


@keyframes thewaveanimation {

   from {
        transform: scaleX(0%);
   }

   to{
      transform: scaleX(100%);
   }

}

@keyframes gokumove {

    from {
          left: 73.1%;;
    }
    to {
          
        left: 70.1%;

    }
}

.waveanimation {
    animation: thewaveanimation 500ms linear;
}

#block {background-image: url(blocks/tank-block.png);}
#block2 {background-image: url(blocks/sumo-block.png);}
#block3 {background-image: url(blocks/monster-block.png);}
#block4 {background-image: url(blocks/bat-block.gif);}
#block5 {background-image: url(blocks/death-block.png);}
#block6 {background-image: url(blocks/turjo-block.png);}
#block7 {background-image: url(blocks/hysam-block.png);}
#block8 {background-image: url(blocks/hamim-block.png);}
#block9 {background-image: url(blocks/mosarof-block.png);}
#block10{background-image: url(blocks/gigachad-block.png);}
#block11{background-image: url(blocks/hysam-gun.png); width: 20px; transform: scale(1.5);}

.block {
    background-size: contain;
    background-repeat: no-repeat;
    height: 5% ;
    width: 3% ;
    position: absolute;
    bottom: 35.3%;
    left: 75.1%;
    display: none;
    z-index: 10;
}

#player {
    width: 2.5%;
    height: 4%;
    background-image: url(player.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 35.2%;
    left: 30%;
    will-change:bottom, left;
    z-index: 10;
}


.sun {

    background-image: url(sun.png);
    z-index: 99;
    height: 8%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 70%;
    top: 45%;

}
#startbutton {

    font-size: 3em;
    background: linear-gradient(135deg, #b0bf58, #acba5b);
    color: green;
    border-radius: 3px;
    box-shadow: black 1px 1px 3px 1px;
    position: absolute;
    z-index: 1000;
}

#startbutton:hover {

    background-image:  linear-gradient(gold , yellow);
}
#startbutton:active {

    background-image:  linear-gradient(gold , yellow);
}
#restartbutton {

    display: none;
    font-size: 3em;
    background: linear-gradient(135deg, #bfb558, #76ba5b);
    color: rgb(255, 0, 0);
    border-radius: 3px;
    box-shadow: black 1px 1px 3px 1px;
    z-index: 999;
    top: 20vH;
    position: relative;
}
#restartbutton:hover {

    background-image:  linear-gradient(rgb(255, 60, 0) , rgb(238, 255, 0));
}
#restartbutton:active {

    background-image:  linear-gradient(rgb(140, 0, 255) , rgb(255, 136, 0));
}
#thegame {

    display: block;
    overflow: hidden;


}
    

.endscore {
    
    bottom: 20%;
    position: absolute;
    top: 30%;
    left: 30%;
    
    
}
.GAMEOVER{

    position: absolute;
    top: 30%;
    left: 30%;


    
   
}

.game {
    width: 52vw;
    height: 20vh;
    border: 1px solid black;
    margin: auto;
    background-image: url("gamebackground.webp");
    background-position:center;
    overflow: hidden;
    z-index: 9;
    box-shadow: 1px 1px 700px 1px black;
    animation: gamebackground 5s linear infinite;
    
}

@keyframes gamebackground {

    0% {
        background-position-x: 0px;
    }
    
    100% {
        background-position-x: -600px ;
    }
}



.jump {
    animation: jump 500ms linear;
}



@keyframes jump {
    0% {
       bottom: 35.2% ; 
    }
    50% {
           bottom: 47%;
    }
    60% {
       bottom: 47% ;
    }
    70% {
       bottom: 47% ;
    }
    80% {
        bottom: 47% ;
    }

    90% {
        bottom: 40%;
    }
    100% {
       bottom: 35.2% ;
    }
   
}

@keyframes go-left {
      0% {
        left: 75% ;
      }
      100% {
        left: 24% ;
      }
}

.movement{

    animation: go-left 1.5s linear ;
} 

.GAMEOVER {
    display: none;
    font-size:  10em;
    font-weight: 100;
    height: 100vh;
    position: absolute;
    top: 30%;
    color: rgb(128, 0, 0);
    text-shadow: rgb(25, 7, 128);
    font-weight: bold;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}



.endscore {

    display: none;
    font-size:  10em;
    font-weight: 100;
    height: 100vh;
    position: absolute;
    top: 45%;
    text-align: center;
    color: rgb(128, 0, 0);
    text-shadow: rgb(25, 7, 128);
    font-weight: bold;
    -webkit-text-stroke: 3px rgb(0, 0, 0);

}


#game-score
{
    background-color: hsl(120, 86%, 39%);
    width: 40vw ;
    z-index: -1;
    
    
}
@media (max-width: 1280px) {
    .game {
        width: 90vw;
        height: 30vh;
        background-position-y: top;
        display: flex;
        z-index: -1;
        
    }
    #musicbutton {
        position: absolute;
        top: 70vh;
    }

    @keyframes gokumove {

        from {
              left: 90.1%;;
        }
        to {
              
            left: 70.1%;
    
        }
    }
    
    #wave {

        left: -130%;
        bottom: 36%;
    }

    #ingame-score-container {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 80vw;
        font-size: 0.7em;
        display: flex;
        
    }

    .block {

        background-size: contain;
        background-repeat: no-repeat;
        height: 5% ;
        width: 8% ;
        position: absolute;
        bottom: 33.8% ;
        left: 87.1%;
        z-index: 100;
    }

    #block10 {
        height: 6%;
    }
    
    #block6{
      bottom: 35%;
    }
    #block7,
    #block8 {

        height: 7% ;
    }
    #block11 {
        bottom: 36%;
        height: 4%;
    }

    #game-score {
        color: rgb(21, 21, 160);
        border: 1px solid black;
        background-color: green;
        width: 80vw;
    }
    #goku {
        background-image: url(blocks/load-wave.png);
        width: 14vw;
        height: 15vh;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 24.3%;
        left: 70.1%;
        display: none;
        
    }
    #player {

        left: 10% !important;
    }


    @keyframes gamebackground {
        0% {
            background-position-x: 0px;
        }
        100% {
            background-position-x: -600px;
        }
    }

    @keyframes go-left {
        0% {
            left: 90vw;
        }
        100% {
            left: -2vw;
        }
    }


    .GAMEOVER {
        font-size: 3.5em; /* Adjusted size */
        color: rgb(128, 0, 0);
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        background-size: cover;
        background-repeat: no-repeat;
        left: 10%;
        top: 30%;
    }

    .endscore {
        font-size: 5em; /* Adjusted size */
        position: absolute;
        left: 15%;
        top: 47%;
        color: rgb(128, 0, 0);
        text-shadow: rgb(25, 7, 128);
        font-weight: bold;
        -webkit-text-stroke: 3px rgb(0, 0, 0);
    }
    #player {
        width: 6% !important;
        height: 3% !important;
        background-image: url(player.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 35.2%;
        left: 30%;
        will-change:bottom, left;
    }

    #restartbutton {

        position: absolute;
        top: 80vh;
        right: 10vw;
    }

    #gun {
        width: 3vh;
        left: 1vh;

    }
    #bullet {
        display: none;
        width: 1.5vh;
        height: 2vh;
        left: 7vh;
        top: 62.8vh;
    }
    #shoot {
        left: 3.2vh;
        top: 65vh;
    }

    @keyframes shooting {
        to {left: 180vw;}
    }

    #negativeplayer {
        height: 3%;
        width: 5%;
        left: 70%;
    }
    
  @keyframes bossenter{
    from {
     left: 94.1%;
    }
     to {
           left: 90.1%;
     }
   }
 
   @keyframes bossmove {
 
     from {
         left: 90.3%;
     }
     to {
         left: 25.3% ;
     }
 }
 @keyframes bossjump {
 
     0% {
      left: 25.3%;
     }
     50% {
         transform: translateY(-410%);
         left: 3.3% ;
     }
     100% {
         left: 3.1% ;
     }
 
 }
 @keyframes bossland {
 
     0% {
         left: 3.1%;
     }
     100% {
         left: -20% ; 
     }
 }
}


@media (max-width: 400px) {
    
        #game-score {
            font-size: 0.6em;
        }
      
        }

       