body {
    background-image: url(/background\ image.jpg);
}

#keys {
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
       
    

}
#keys button {
    font-size: 2rem;
    padding: 31px;
    background-color: black ;
    color: white
    
}

.displaybox {
    width: 370px;
    height: 70px;
    font-size: 2rem;
    background-image: url(/stars.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    border: none;
    
}

.calcontainer{
   flex-direction: column;
   box-shadow: 1px 1px 4px 1px black;
   background-image: url(/stars.jpeg);
   
}

.wrap{

    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}
.skey  {
    background-color: rgb(255, 217, 0) !important;
    color: black !important;

}

#keys :hover {
    background-color: rgba(196, 180, 180, 0.288);
}

.skey:hover {
    background-color: rgb(218, 165, 32, 0.288) !important;
}

#uncalbtn {
    display: none;
}

.backbtn:hover {
    background-color: rgb(255, 0, 0) !important;
}