
body
{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    
  
    
}
.background
{
    background-image: url(assets/space.jpg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-repeat: repeat;
    animation:  background 10s linear infinite;

    
}
@keyframes background
{
    0% {
       background-position-y: 0px;
    }
    100% {
       background-position-y: 1600px;
    }
}

#rocket
{
    background-image: url("assets/spaceship.png");
    width: 30px;
    height: 30px;
    scale: 1.5;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    top: 50% ;
    left: 50%;
    z-index: 1;
    display: block;
}
#laser
{
    background-image: url(assets/laser.png);
    background-size: contain;
    scale: 1.5;
    width: 10px;
    height: 10px;
    position: inherit;
    top: -10px;
    left: 9.5px;
    rotate: -90deg;
    display: none;
}
#laserable
{
    background-image: url(assets/laser.png);
    background-size: contain;
    background-repeat: repeat;
    width: 50px;
    height: 30px;
    scale: 1;
    position: absolute;
    rotate: -90deg;
    bottom: 0px;
}

.shooting
{
    animation: shooting 0.5s forwards;
}
@keyframes shooting
{
    to{
        top: -900px;
    }
}
.enemy
{
    background-image: url(assets/alien.png);
    width: 30px;
    height: 30px;
    background-size: contain;
    scale: 1.5;
    left: 1000px;
    position: absolute;
    display: block;
    
}
#score
{
    
    width: 60px;
    height: 50px;
    position:absolute;
    bottom: 0px;
    left: calc(100% - 60px);
    color: rgb(241, 209, 30);
    text-align: center;
    align-content: center;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    z-index: 0;
}
#controls
{
    
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    position: absolute;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#controls button
{
    font-size:medium;
    padding: 5px;
    
}
 
#left-btn
{
     position: inherit;
     left: -100%;
}
#right-btn
{
    position: inherit;
    right: -110%;
}
#restart 
{
  display: none;
  width: 100px;
  height: 40px;
  scale: 2;
  position: inherit;
  top: -20%;
  left: 40%;
  background-image: url(assets/restart.png) ;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(0, 152, 223, 0.945);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3em;
}
#start
{
    display: block;
    width: 100px;
    height: 40px;
    scale: 2;
    left: 50%;
    top: 50%;
    position: absolute;
    background-image: url(assets/start.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(0, 152, 223, 0.945);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    z-index: 5;
}
#endscore
{
    display: none;
    width: 150px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(assets/score.jpg);
    position: absolute;
    left: 30%;
    text-align: center;
    align-content: center;
    align-items: center;
}
#endscorenumber
{
    color: rgb(8, 9, 65);
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#gameover
{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(assets/gameover.png);
    transform: translateX(-50%);
    transform: translateY(calc(50%-100px));
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    
}
